# Supabase Configuration Template (Public / Safe for version control)
NEXT_PUBLIC_SUPABASE_URL=https://dvzrqdngruikxhiqoynh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR2enJxZG5ncnVpa3hoaXFveW5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwNDg3MzksImV4cCI6MjEwNTYyNDczOX0.Y2JpUEaer_DwOfkdBsrejLe-Put4YlaYPFEZTyYj9mA
